[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
twine = "*"
wheel = "*"

[packages]
django = "*"
django-polymorphic = "*"
django-taggit = "*"
django-mptt = "*"

[requires]
python_version = "3.7"
